* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  color: #fff;
}

.main {
  background-color: #0f0d0d;
}

.page1 {
  height: max-content;
  width: 100%;
}

#nav {
  height: 55px;
  padding: 0 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav img {
  height: 28px;
}

.nav-part2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-part3 .circle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}

#nav h4 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

#nav h4:nth-child(1) {
  font-family: pp mori;
  border-bottom: 1.5px solid white;
}

.page1 h1 {
  font-size: 8vw;
  font-weight: 300;
  font-family: pp mori;
  margin-top: 12vw;
  letter-spacing: -2px;
  margin-left: 8vw;
}

.page1 h2 {
  font-size: 8vw;
  font-weight: 300;
  font-family: pp mori;
  margin-left: 25vw;
  letter-spacing: -2px;
}

.page1 .paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  font-weight: 100;
  font-family: pp mori;
  margin-left: 2vw;
}

.page1 video {
  width: 60%;
  margin-top: 10vw;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

/* Page2 Starts from here */

.page2 {
  padding: 100px 5vw;
  width: 100%;
  min-height: 80vh;
  border-bottom: 2px solid #6c6c6c;
}

.page2 h1 {
  font-size: 7vw;
  font-weight: 400;
  color: #111;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.page2-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70vh;
}

.page2-left {
  /* background-color: #edbfff; */
  width: 37%;
}

.page2-right {
  width: 24%;
}

.page2-left h2 {
  line-height: 4vw;
  font-size: 4vw;
  font-weight: 200;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #111;
}

.page2-right p {
  color: #111;
  font-size: 24px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.page2-right button {
  background-color: #edbfff;
  border: none;
  width: 100%;
  padding: 4px 0;
  color: #111;
  margin-top: 20px;
  border-radius: 50px;
}

.page3 {
  width: 100%;
  height: 100vh;
}

