* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  color: #fff;
  background-color: #000;
}

html,
body {
  height: 100vh;
  width: 100%;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 0 1vw;
  padding-top: 18vh;
}

#page1 h1 {
  font-size: 17vw;
  line-height: 13vw;
  font-weight: 1000;
  letter-spacing: -1.4vw;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.video-container {
  height: 100vh;
  width: 100%;
  background-color: wheat;
  margin-top: 1vw;
  position: relative;
}

.video-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video-container #play {
  background-color: #111;
  position: fixed;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
  font-size: 1.4vw;
  font-weight: 900;
  padding: 2.5vw 1.6vw;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.line-container .Buy-do {
  display: flex;
  justify-content: space-between;
  padding: 0vw 1vw;
  align-items: center;
  font-weight: 800;
  font-size: 1.2vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 2vw;
  /* background-color: yellow; */
}

.line-container .line {
  margin: 0 auto;
  width: 98%;
  height: 0.1vw;
  background-color: grey;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  /* background-color: aqua; */
}

#page2 .elements {
  width: 100%;
  height: 100vh;
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: space-between;
  padding: 0.8vw 1vw 1vw;
  align-items: center;
}

#page2 .elem {
  height: 100%;
  width: 32.7%;
  overflow: hidden;
}

#page2 .elem img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
  scale: 1.15;
}

@media (max-width: 600px) {
  #page1 {
    min-height: 40vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 20vh;
  }

  .video-container {
    height: 32vh;
    margin-top: 3vw;
  }

  .video-container #play {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
    font-size: 3vw;
    padding: 4vw 2.2vw;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  .line-container .Buy-do {
    display: flex;
    justify-content: space-between;
    padding: 0vw 3vw;
    align-items: center;
    font-weight: 800;
    font-size: 2.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-top: 2vw;
    /* background-color: yellow; */
  }

  .line-container .line {
    margin: 0 auto;
    width: 94%;
    height: 0.2vw;
    margin: 0.5vw auto;
    background-color: grey;
  }

  #page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.8vw 3vw 1vw;
    align-items: center;
    /* background-color: aqua; */
  }

  #page2 .elem {
    height: 100%;
    width: 100%;
    margin-bottom: 3vw;
    overflow: hidden;
  }

  #page2 .elem img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    scale: 1.15;
  }
}
